button {
  background: 'blue';
  border-radius: 3px;
  width: 100px;
  height: 100px;
  color: 'turquoise';
  -webkit-appearance: none;
  margin-top: 20%;
  border-radius: 50%;
  font-family: 'Amatic SC', cursive;
  font-size: large;
}

body {
  text-align: center;
  background: blue;
}
